.contributor {
  padding-left: 20vw;
  padding-right: 20vw;
}

.repo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.repo > div {
  min-width: 15rem;
  text-align: left;
  font-weight: bold;
}

.team-contributor-li {
  display: inline-block;
}