.App {
  text-align: center;
}

.App-logo {
}

.App-logo-icon {
  /* animation: App-logo-spin infinite 10s linear; */
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #000;
  background: #fff;
  border-radius: 50%;
  margin: auto;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.avatar {
  width: 50px;
}
